.vk-btn,
.btn {
  background-color: #ff9f1c;
  font-weight: 500;
  color: white;
}

.vk-btn:hover,
.btn:hover {
  background-color: #ffbf69;
  color: black;
}

h2,
th,
tr {
  color: #26a094;
}

.row1:hover {
  background-color: white;
}

td {
  font-weight: 500;
}

table {
  background-color: #e6fffd;
  border-radius: 2%;
}
